@import "../../../assets/sass/variables";

.toolbarOuter {
    background-color: $color-tertiary;
    color: $color-primary;
    
}

.toolbarInner {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 1.5rem 2rem;

    & > *:not(:last-child) {
        margin-right: 1rem;
    }
}

.brand {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 200;
    letter-spacing: .1rem;
    flex-grow: 1;
}

.signoutLink {
    cursor: pointer;
}