@import "../../../assets/sass/variables";

.userIntroCard {
  max-width: 50rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lighten($color-tertiary-dark, 19%);
  padding: 1rem;
  border-radius: 8px;
  padding: 1.5rem 0;

  img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
  }

  .name {
    //   background-color: orangered;
    align-self: center;
    margin-left: 2rem;
    font-size: large;
  }

  .followButton {
    margin-left: 3rem;
  }
}
