@import "../../../assets/sass/variables";

.error {
    margin-bottom: 2rem;
            color: $color-red;
            background-color: lighten($color-red, 30%);
            padding: 1rem 2rem;
            border-radius: .5rem;
}