@import "../../../assets/sass/variables";

.btn {
    &,
    &:link,
    &:visited {
        border: none;
        cursor: pointer;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 1.4rem;
        text-decoration: none;
        transition: all 0.2s;
        font-size: $default-font-size;
        text-transform: uppercase;
        font-family: inherit;
    }

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1.7rem 2rem rgba($color-black, 0.2);
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY((-0.1rem));
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }
}
.green {
    background-color: $color-secondary;
    color: $color-quaternary-light;
    &:hover {
        background-color: $color-secondary-dark;
    }
}

.secondary {
    background-color: $color-quaternary-light;
    border: 1px solid $color-secondary;
    color: $color-secondary;

    &:hover {
        background-color: $color-secondary-dark;
        color: $color-quaternary-light;
    }
}
