// COLORS
$color-primary: #32502e;
$color-secondary: #406343;
$color-tertiary: #ece7b4;
$color-quaternary: #f3efcc;
$color-quaternary-light: #f5f3e0;
$color-quaternary-dark: #f1e14d;

$color-black: rgb(17, 17, 17);

$grid-width: 114rem;

// FONT
