// COLORS
$color-primary: #32502E;
$color-secondary: #406343;
$color-tertiary: #ECE7B4;
$color-quaternary: #F3EFCC;
$color-quaternary-light: #f5f3e0;
$color-quaternary-dark: #f1e14d;

$grid-width: 114rem;

// FONT